{% extends 'base.html' %} {% block body %}
  
  <div class="container mt-4">
  <h2>Add Task</h2>
  <form action="/" method="POST">
    <div class="my-3">
      {{ form.title.label }}
      <br>
      <br>
      {{ form.title(class_="form-control") }}
    <div class="my-3">
        {{ form.description.label }}
        <br>
        <br>
        {{ form.description(class_="form-control") }}
    </div>
    {{form.csrf_token}}
    {{form.submit(class_="btn btn-outline-dark")}}
  </form>
  <h2 class="my-3">Your Tasks</h2>
  {% if tasks|length == 0 %}
  <div class="alert alert-warning" role="alert">
    No Tasks To Display . Add Tasks .
  </div>
  {% else %}
  <table class="table table-bordered table-hover my-3">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td><a href="update/{{task.sno}}" class="btn btn-outline-primary btn-sm me-1 my-1">Update</a><a
            href="delete/{{task.sno}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
      </tr>
    </tbody>
  </table>
  </div>
  {% endfor %}
  {% endif %}
{% endblock body %}