{% extends 'base.html' %} {% block body %}
  <div class="container mt-4">
  <h2>Register</h2>
  <form action="/register" method="POST">
    <div class="my-3">
      {{ form.name.label }}
      <br>
      <br>
      {{ form.name(class_="form-control") }}
    <div class="my-3">
        {{ form.email.label }}
        <br>
        <br>
        {{ form.email(class_="form-control") }}
    </div>
    <div class="my-3">
        {{ form.password.label }}
        <br>
        <br>
        {{ form.password(class_="form-control") }}
    </div>
    {{form.csrf_token}}
    {{form.submit(class_="btn btn-outline-dark")}}
  </form>
  </div>
{% endblock %}