{% extends 'base.html' %} {% block body %}
<div class="container mt-4">
  <h2>Update Task</h2>
  <form action="/update/{{task.sno}}" method="POST">
    <div class="my-3">
      <label for="title" class="form-label">Enter To Do Title :</label>
      <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title" value="{{task.title}}"/>
      <div class="my-3">
        <label for="description" class="form-label">Enter To Do Description :</label>
        <input type="text" class="form-control" id="description" name="description" value="{{task.description}}"/>
      </div>
      <button type="submit" class="btn btn-outline-info">Submit</button>
  </form>
  </div>
{% endblock %}