{% extends 'base.html' %} {% block body %}
<div class="container mt-4">
  <h2>Update Task</h2>
  <form action="/update/{{task.sno}}" method="POST">
    <div class="my-3">
      {{form.title.label}}
      <br>
      <br>
      {{form.title(class="form-control", value=task.title)}}
    <div class="my-3">
      {{form.description.label}}
      <br>
      <br>
      {{form.description(class="form-control", value=task.description)}}
      </div>
      {{form.submit(class_="btn btn-outline-dark")}}
  </form>
  </div>
{% endblock %}